:root {
  --background-color: #7dcea0;
  --body-text-color: #000;
	--button-primary-color: #979A9A;
	--button-secondary-color: #717D7e;
	--button-text-color: #000;
	--grid-item-color: #000;
	--grid-item-color-focus: #BFC9CA;
	--link-color: #000;
	--link-color-visited: #000;
	--link-color-hover: #000;
	--link-color-active: #000;
	--header-font-weight: 700px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--header-font-weight);
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 2.6;
  /* Sets the line-height to 1.6 */
  background-color: var(--background-color);
  color: var(--body-text-color);
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Merriweather', sans-serif;
  font-weight: var(--header-font-weight);
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
  font-family: 'Merriweather', sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
  font-family: 'Montserrat', sans-serif;
}

a{
	color: var(--link-color);
	transition-duration: 0.2s;
	transition-property: color;
}

a:visited {
	/* visited link*/
	color: var(--link-color-visited);
}

a:hover {
	/* No underlining when hovering over a link*/
	text-decoration: none;
	color: var(--link-color-hover);
}

a:focus {
	/* No underlining when link targeted by keyboard*/
	text-decoration: none;
}

a:active {
	/* selected link */
	color: var(--link-color-active);
}


button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button*/
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button_secondary {
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
}

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile-text {
    flex: 1 1 100px;
}

.page-footer{
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid__item {
  background-color: var(--grid-item-color);
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 75%;
}
/* end grid fallback */

.logo {
  border-radius: 50%;
}


.about {
  max-width: 700px;
  margin: 0 auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}



button,
.button1,
.button2,
.button3,
.my-input {
  /* styling goes here */
}

.button, button1, button {
/* overwrites browser defaults and resets the border */
border: none;
display: inline-block;
/* takes the font from the outer container */
font-family: inherit;
/* styles the button*/
background-color: var(--button-primary-color);
color: var(--button-text-color);
text-decoration: none;
padding: 10px;
border-radius: 3px;
/* width of the border, type, color */
border-bottom: 2px solid rgba(0, 0, 0, 0.3);
transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
/*styling goes here*/
cursor:pointer;
/* reduces the opacity of the button to 80% */
opacity: 0.8;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

  .grid__item:hover,
  .grid__item:focus {
  	/*lets the mouse appear as a hand when hovering over the button */
  	cursor:  pointer;
  	/* reduces the opacity of the button to 80% */
  	transform: scale(1.05, 1.05);
  	background-color:  var(--grid-item-color-focus);
  }

  @supports (diplay: grid) {
    .grid {
      display: grid;
      /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 0;
    }
  }
    .grid__item {
      background-color: var(--grid-item-cover);
      width: auto;
      min-height: auto;
      margin: 0;
    }

    .grid__item:last-child {
      grid-column: 3 / 3;
      grid-row: 1 / 3;
    }
